{% extends 'layout.twig' %}

{% block body %}
	<!-- output from contact-us.twig -->
    <section id="contact" class="container">
    
    	{{ boltforms('contact') }}

    </section><!--/#contact-->
{% endblock body %}
